#logo{
    width:15mm;
    height:15mm;
    float: left;
    border-radius:45%;
}
.name1{
    color:green;
    font-family: 'Pacifico', cursive;
    font-size:8mm;
    float: left;
    margin-left:3mm'
}
#sticky{
    float:right;
    margin-right:3mm;
    margin-top:1mm;
    font-weight: 500;
    color:yellow;
}
#cart{
    font-size:7mm;
    margin:2mm 1mm 0mm 0mm;
    color:yellow; 
}
#second{
    background-image:  url(images/fan4.jpg);
    width: 90%;
    height: 150mm;
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    
}
#third{
    background-image:  url(images/img1.jpg);
    width: 100%;
    height: 150mm;
    background-repeat: repeat-y;
    background-size: 100% 100%;
}
.line1{
   color:darkblue;
   background: transparent;
   font-weight: 700;
   margin:15mm 15mm 0mm 15mm;
   font-size: 9mm;
}
.line2{
    font-size: 15mm;
    color:darkred;
    font-weight: 700;
    margin-left:15mm;
}
.line3{
    color:white;
    background: transparent;
    font-weight: 700;
    margin:5mm 15mm 0mm 15mm;
    background: rgb(240, 10, 10,0.7);
    padding: 2mm;
    font-size: 5mm;
}
.btn1{
    margin:20mm 0mm 0mm 55mm;
    background:  rgba(7, 156, 124, 0.9);
    color: red;
    background:yellow;
}
.ico{
    width:20mm;
    height:20mm;
    float:right;
    margin-right:140mm;
}
.fa{
    letter-spacing: 2mm;
    color:greenyellow;
}
li{
    color:green;
    font-weight: 700;
    letter-spacing: 1mm;
    font-size:6mm;
}
.yoga{
    width:120mm;
    height:150mm;
    margin-top:15mm;
}
#forth{
    width:100%;
    height:150mm;
    background-image: url(images/fan1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }
.ayur{
    text-align: center;
    margin: 7mm 0mm 0mm 0mm;
    color: yellow;
    margin:25px 128mm 0mm 128mm;
    padding:2mm;
    font-weight: 700;
    font-size: 5mm;
}
.hr1{
    margin: 0px 145mm 0px 145mm;
    border:2px solid orangered;
}
.head1{
    text-align: center;
    margin: 5mm 0px 0px 0px;
    color:yellow;
    font-family: cursive;
    font-weight: 700; 
}
.btn2, .btn3{
    background:green;
    border:1px solid black;
    margin: 5mm 85px 34mm 85px;
    color:black;
    font-weight: 800;
}
.btn2:hover, .btn3:hover, .btn1:hover{
    background: gray;
    color:black;
    font-size:5mm;
}
#green{
    background:yellowgreen;
    margin-left:30mm;
    font-family: 'Pacifico', cursive;
    color: red;
    height:200mm;
}
#black{
    background:black;
}
#ceo{
    width:28mm;
    height:30mm;
    border-radius:50%;
    margin: 4mm;
}
#asso{
    width:35mm;
    height:25mm;
    margin-right:10mm;
}
.prdct{
    width:270px;
    height:310px;
    float:left;
    margin:5mm;
    margin-left:10mm;
}
.grant{
    background: linear-gradient(to bottom, whitesmoke 50%, white 50%);
    width:100%;
    height:180mm;

}
.one, .two, .three{
    width:30%;
    height:150mm;
    margin:5mm;
    text-align: center;
}
.ico2{
    font-size: 15mm;
    color: aqua;
    margin-top:10mm;
}
.four{
    background-image: url(images/fan2.jpg);
    width:100%;
    background-size: 100% 100%;
    height:125mm;
    margin-bottom: 5mm;
    text-align:center;
    color:white;
    
}
.box{
    background-size: 100% 100%;
    width: 100%;
    height: 125mm;
}
.paw{
    color:yellowgreen;
    margin-left:5mm;
    margin-right:3mm;
}
.prpl{
    background-image: url(images/bg.jpg);
    background-size: 100% 100%;
}
.form{
    margin:10mm 0mm 20mm 5mm;
    border:1px solid green;
    background: rgba(7, 156, 124, 0.4);
    padding:5mm;
}
.ic{
    border-radius:50%;
    color: yellowgreen;
    margin-right: 5mm;
    margin-top:3mm;
    margin-bottom: 3mm;
}
.ic:hover{
    color:red;
    font-size: 5mm;
}
input:hover{
    background:green;
}
#sticky:hover, #cart:hover{
    color:red;
}
.contct:hover{
    color:yellowgreen;  
}
.dropdown-toggle{
    font-size:5mm;
    font-weight: 600;
}
.dropdown-toggle:hover{
    color:red;
}
.dropdown-item:hover{
    background:gray;
    color:red;
    font-size: 6mm;
}
.prdct:hover{
    font-size:5mm;
}
a{
color:black;
}
.lost{
    height:25mm;
    padding:12px; 
}
#drp{
    color:yellow;
}
